- 
  var PROJECT_NAME = '412 Shop'
  var ITEMS = [
    { name: 'test1', left: 2, image: '1'}
    , { name: 'test2', left: 1, image: '2'}
    , { name: 'test3', left: 3, image: '3'}
    , { name: 'test4', left: 0, image: '4'}
    , { name: 'test5', left: 5, image: '5'}
  ]